section{
    display: flex;
    flex-direction: row;
    border: solid 2px;
    width: 200px;
    margin: 20px;
    padding: 10px;
}

input[name="name"]{
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-left: 1px;
    margin-right: 15px;
  }

  input[type="submit"]{
    margin-top: 20px;
    width: 100%;
  }

  p{
    margin-bottom: 5px;
  }