:root{
    --card-back: #c0c0c0;
    --body-back: #C9DFE3;
    --card-head: #25B03C;
    --main-head: #003A86;
    --head-text: white;
    --body-text: black;
}
.dark-mode {
  --card-back: #656565;
  --body-back: #202729;
  --card-head: #0c3413;
  --main-head: #001f49;
  --body-text: white;
}
#mode{
    position: absolute;
    top: 6rem;
    right: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--body-back);
}

header {
  grid-column: 1/3;
  background-color: var(--main-head);
  color: var(--head-text);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hero {
  grid-column: 1/3;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header nav {
  width: 100%;
}

header nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
nav .link {
  font-size: 30px;
}
.link {
  font-size: 20px;
  text-decoration: none;
  color: var(--head-text);
}
.link:hover {
  text-decoration: underline;
  background-color: #636363;
}

h2 {
  position: relative;
  top: -20px;
  background-color: var(--card-head);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  background-color: var(--card-back);
  margin: 10px;
  border-radius: 10px;
  text-indent: 10px;
  color: var(--body-text);
}

footer {
  grid-column: 1/3;
  background-color: var(--main-head);
  color: var(--head-text);
}
