body {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #c9dfe3;
}

header {
  grid-column: 1/3;
  background-color: #003a86;
  color: white;
}

.hero {
    grid-column: 1/3;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

header nav {
  width: 100%;
}

header nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
nav .link {
  font-size: 30px;
}
.link {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.link:hover {
  text-decoration: underline;
  background-color: #636363;
}

h2 {
  position: relative;
  top: -20px;
  background-color: #25b03c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#events {
  background-color: #c0c0c0;
  margin: 10px;
  border-radius: 10px;
  text-indent: 10px;
}
#events a {
  text-align: center;
}
#about {
  background-color: #c0c0c0;
  margin: 10px;
  border-radius: 10px;
  text-indent: 10px;
}
#weather {
  background-color: #c0c0c0;
  margin: 10px;
  border-radius: 10px;
  text-indent: 10px;
}
#ads {
  background-color: #c0c0c0;
  margin: 10px;
  border-radius: 10px;
  text-indent: 10px;
}

footer {
  grid-column: 1/3;
  background-color: #003a86;
  color: white;
}
