:root {
  --card-back: #c0c0c0;
  --body-back: white;
  --card-head: #298f3a;
  --main-head: #003a86;
  --head-text: white;
  --body-text: black;
  --minicard-back: #555555;
}
.dark-mode {
  --card-back: #555555;
  --body-back: #111111;
  --card-head: #0c3413;
  --main-head: #001f49;
  --body-text: white;
  --minicard-back: #c0c0c0;
}
#banner {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--card-head);
  color: var(--body-text);
  text-align: center;
}
#bannerclose {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#mode {
  position: absolute;
  top: 6rem;
  right: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--body-back);
  color: var(--body-text);
}

header {
  grid-column: 1/3;
  background-color: var(--main-head);
  color: var(--head-text);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#hero {
  grid-column: 1/3;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-items: center;
}

nav {
  grid-column: 2/3;
  background-color: var(--mainHeader);
  text-align: center;
}
.navigation {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 30px;
}

.navigation a {
  display: none;
  border-radius: 20px;
  text-decoration: none;
  color: var(--textHeader);
  font-style: italic;
  padding: 2px;
}

.current::after{
  font-style:normal;
  content: "🚩";
}

nav .link {
  font-size: 30px;
}
header .link {
  color: var(--head-text);
}
.link {
  font-size: 20px;
  color: var(--body-text);
}
.link:hover {
  background-color: #636363;
}
.logo {
  width: 100px;
  height: 100px;
}
#menu {
  font-size: 6rem;
  background-color: var(--mainHeader);
  grid-column: 2/3;
  border: none;
  margin: 10px;
}

#menu::before {
  content: "≡";
}
#menu.open::before {
  content: "X";
}

.open a {
  display: block;
}

main {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}
#discoverpage{
  display: grid;
  grid-template-columns: auto auto;
}
#discoverpage img{
  max-width: 100%;
}
#hero {
  max-width: 100px;
}

h2 {
  position: relative;
  top: -25px;
  width: 100%;
  text-align: center;
  background-color: var(--card-head);
  color: var(--body-text);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-back);
  margin: 5px;
  border-radius: 10px;
  align-items: center;
  color: var(--body-text);
  margin-bottom: 20px;
}

footer {
  grid-column: 1/3;
  background-color: var(--main-head);
  color: var(--head-text);
}

@media screen and (min-width: 800px) {
  #menu {
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .navigation a {
    display: block;
    width: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  #rightbar img {
    margin-left: 40px;
    margin-top: 13px;
  }
  #rightbar img:hover {
    transform: scale(1.1);
  }

  #members {
    grid-template-columns: auto auto auto;
  }
}

#join {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
  margin-bottom: 20px;
}

legend {
  font-size: 30px;
}

fieldset {
  margin-bottom: 30px;
  border-radius: 30px;
  margin-left: 2%;
}
label {
  font-size: 20px;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
input[type="number"] {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 10px;
  color: gray;
  max-width: 90%;
  width: 100%;
  appearance: none;
  margin-bottom: 20px;
}

input[type="radio"] {
  margin-left: 20px;
  margin-right: 5px;
}

input[type="submit"] {
  width: 90%;
  height: 50px;
  border-radius: 30px;
  margin-left: 3%;
}

input:required {
  border-left: solid 8px red;
}

input:required:valid {
  border-left: solid 8px green;
}

#directory-main {
  display: block;
}
#directory-main .card {
  margin-top: 20px;
}

#members {
  display: grid;
  grid-template-columns: auto auto;
}

.weatherCard {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 10px;
  background-color: var(--main-head);
  margin-bottom: 20px;
  border-radius: 10px;
}
.weatherCard h2 {
  max-height: 40px;
  top: -20px;
}

#currentheader {
  grid-column: 1/2;
}

#currentweather {
  grid-column: 1/2;
}
#forecastheader {
  grid-column: 2/3;
  grid-row: 1/2;
}

#forecast {
  grid-column: 2/3;
  display: flex;
  justify-content: space-around;
}

#forecast .card {
  padding: 10px;
}

.minicard {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  margin-bottom: 20%;
  background-color: var(--minicard-back);
  color: var(--body-back);
}

.minicard h2 {
  top: 0px;
  left: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
