:root {
  --body: #acad94;
  --header: #6e7271;
  --mainHeader: #384d48;
  --lesserBody: #d4d9d5;
  --text: black;
}

main {
  display: grid;
  grid-template-columns: 10px auto 10px;
  justify-items: center;
}

body {
  background-color: var(--body);
  text-align: center;
}

header {
  display: grid;
  background-color: var(--mainHeader);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  text-align: left;
}

#profile {
  width: 250px;
  margin: 20px;
  border-radius: 10px;
}

header h1 {
  grid-column: 2/3;
  font-size: 100px;
}

nav {
  display: grid;
  border-radius: 10px;
  font-size: 40px;
  align-content: center;
}

nav a {
  height: 50px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--text);
  font-style: italic;
}

nav a:hover {
  background-color: var(--header);
}

main h2 {
  grid-column: 1/4;
  font-size: 30px;
  background-color: var(--header);
  border-radius: 5px;
}

.card {
  background-color: var(--lesserBody);
  margin: 10px;
  width: 200px;
  grid-column: 2/3;
  border-radius: 10px;
}

li {
  text-align: left;
  margin-left: 40px;
  margin-right: auto;
}

.card h3 {
  background-color: var(--header);
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.card h4 {
  margin-top: 5px;
}
