:root {
  --body: #acad94;
  --header: #949897;
  --mainHeader: #384d48;
  --lesserBody: #d4d9d5;
  --textHeader: #e2e4e2;
}

body {
  background-color: var(--body);
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--mainHeader);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
  color: var(--textHeader);
}

header.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

header h1::selection{
  color: var(--mainHeader);
  background: var(--textHeader);
}
header img::selection{
  color: var(--mainHeader);
  background: var(--textHeader);
}

nav a::selection{
  color: var(--mainHeader);
  background: var(--textHeader);
}

#profile {
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

header h1 {
  grid-column: 1/2;
  font-size: 60px;
  margin-left: 20px;
}

#menu {
  font-size: 6rem;
  background-color: var(--mainHeader);
  grid-column: 2/3;
  border: none;
  margin: 10px;
}

#menu::before {
  content: "≡";
}
#menu.open::before {
  content: "X";
}
nav {
  grid-column: 2/3;
  background-color: var(--mainHeader);
  text-align: center;
  margin-bottom: 10px;
}
.navigation {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 30px;
}

.navigation a {
  display: none;
  height: 50px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--textHeader);
  font-style: italic;
}
h2{
  width: 100%;
}

nav a:hover {
  background-color: var(--header);
}

.open a {
  display: block;
}

main {
  display: grid;
  grid-template-columns: 10px auto 10px;
  justify-items: center;
}

main h2 {
  grid-column: 1/4;
  font-size: 30px;
  background-color: var(--header);
  border-radius: 5px;
}

.card {
  background-color: var(--lesserBody);
  margin: 10px;
  width: 90%;
  grid-column: 2/3;
  border-radius: 10px;
}

ul {
  text-align: left;
}
li::marker {
  color: var(--mainHeader);
  font-size: 20px;
}

.card h3 {
  background-color: var(--header);
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.card h4 {
  margin-top: 5px;
}

iframe{
  height:400px;
  width:400px;
  border: none;
}
