@media screen and (min-width: 800px) {
  header{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  header h1 {
    font-size: 100px;
    grid-column: 2/3;
  }
  #profile {
    width: 250px;
    margin: 20px;
  }
  #menu{
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .navigation a{
    display:block;
    width: 100%;
  }
  main {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .card {
    grid-column: unset;
  }
}
